---
import { type ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    image: ImageMetadata;
    route: string;
    title: string;
    alt: string;
}

const { image, route, title, alt } = Astro.props;
---

<a
    href={route}
    class="relative rounded-xl h-60 group transition-all duration-200 ease-linear hover:scale-95">
    <Image
        id={route}
        class="object-cover w-full h-full"
        src={image}
        alt={alt}
    />
    <p
        class="absolute bottom-0 left-0 right-0 p-4 bg-black text-white bg-opacity-80">
        {title}
    </p>
</a>
